* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3b3b3b;
}

header {
    padding: 0px 0 0 5px;
    height: 65px;
    width: 580px;
    background: #3b3b3b; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiM2IzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjAyMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjMyMzIzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, #3b3b3b 0%, #020202 100%, #232323 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3b3b), color-stop(100%,#020202), color-stop(100%,#232323)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3b3b3b 0%,#020202 100%,#232323 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3b3b3b 0%,#020202 100%,#232323 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3b3b3b 0%,#020202 100%,#232323 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3b3b3b 0%,#020202 100%,#232323 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#232323',GradientType=0 ); /* IE6-8 */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid black;
    border-top: 1px solid #b79090;
    border-left: 1px solid #b79090;
    border-right: 1px solid #b79090;
}

    header p {
        color: white;
        font-size: 18px;
        display: inline-block;
        margin: 0 10px 0 10px;
    }

    header form {
        position: relative;
        display: inline-block;
        top: -25px;
    }

body header form input {
    margin-right: 15px;
    border-color: #819db3;
}

body article {
    border-bottom: 1px solid #b79090;
    border-left: 1px solid #b79090;
    border-right: 1px solid #b79090;
    width: 555px;
    padding: 15px;
}

    body article h1 {
        color: #fdd416;
        margin-bottom: 17px;
    }

article section p {
    font-size: 15px;
    color: #a0a0a0;
    font-family: Calibri;
}

article section {
    width: 95%;
}

    article section p span {
        color: white;
    }

#btn {
    margin-top: -3px;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(229,110,110, 0.9);
    box-shadow: inset 0px -15px 5px #EC0B0F;
    color: white;
}
