#js-console{
	font-family: 'Lucida Console';
    font-size: 12px;
	background-color: black;
    display: inline-block;
    float: left;
	color: white;
	height: 480px;
	width: 640px;	
}

img{
    margin-left: 1em;
    height: 5%;
    width: 5%;
}

img:hover{
    cursor: pointer;
}